.static-hero-div {
    height: 300px;
    border-bottom: 1px solid rgb(141, 141, 141);
    background-image: url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8c3RhZGl1bXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text {
    color: white;
    text-align: center;
    padding-top: 10%;
}
